
HUGGINGFACEHUB_API_TOKEN = ""  
HF_HUB_ENABLE_HF_TRANSFER = "1" # enable hf_transfer for faster ckpt download  

### FOR FINE-TUNING EMBEDDING MODEL ###

# Modal Labs
MODAL_TOKEN_ID = ""
MODAL_TOKEN_SECRET = ""

# Weights and Biases
WANDB_PROJECT = ""
WANDB_LOG_MODEL = ""
WANDB_API_KEY = ""

### FOR INGESTING AND RETRIEVING DOCUMENTS ###

# Qdrant cloud vector store 
QDRANT_HOST = ""
QDRANT_API_KEY = ""

### FOR KNOWLEDGE GRAPH ###

NEO4J_URI=""
NEO4J_USERNAME=""
NEO4J_PASSWORD=""

### FOR APP OBSERVABILITY AND MONITORING ###

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""